<div>
    <div class="edit-form" *ngIf="currentUser.id">
        <h4 class="text-muted my-4">User</h4>
        <form action="">
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" class="form-control" id="title" [(ngModel)]="currentUser.username" name="username">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" [(ngModel)]="currentUser.password" name="password">
            </div>

            

        </form>
<!-- class="badge badge-danger mr-2" -->
        <button class="btn btn-outline-danger "  (click)="deleteUser()">
            Delete
        </button>

        <button class="btn btn-outline-primary m-3" (click)="updateUser()">
            Update
        </button>

        <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentUser.id">
        <br>
        <p>Cannot access this user....</p>
    </div>

</div>

