/* .list{
    height: 2000px;
} */

.list {
    text-align: left;
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
  }

.user-title{
    margin-bottom: 50px;
}

.user-spec{
    margin-top: 100px;
    position: fixed;
    right: 15px;
}